<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- app.component.html o cualquier otro archivo HTML -->
<!-- <a routerLink="/buscar-profesionales">Buscar Profesionales</a>
<a routerLink="/gestion-resenas">Reseñas</a>
<a routerLink="/perfil-usuario">Perfil</a>
<a routerLink="/programacion-citas">Programar Citas</a>
<a routerLink="/solicitud-cotizaciones">Solicitar Cotización</a> -->



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/arreglar.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">FixHome
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'inicio'}" (click)="onOption('inicio')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" [ngClass]="{active: menuOption == 'about'}" (click)="onOption('about')">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="perfil" [ngClass]="{active: menuOption == 'perfil'}" (click)="onOption('perfil')">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="resenas" [ngClass]="{active: menuOption == 'resenas'}" (click)="onOption('resenas')">Reseñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cotizacion" [ngClass]="{active: menuOption == 'cotizacion'}" (click)="onOption('about')">Solicitar cotización</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="citas" [ngClass]="{active: menuOption == 'citas'}" (click)="onOption('about')">Tus Citas</a>
        </li>
        <!-- Agrega más elementos de menú según las necesidades de tu proyecto -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
